/* Colors for the website */

//container colors
$color-background-header: #4d259c;
$color-background-footer: #1d1d1d;
$color-background-image-link-hover: #cecece;

//text colors
$color-text: #4f4f4f;
$color-text-header: #ffffff;
$color-text-light: #6d6d6d;
$color-text-light-hover: #cecece;