/* Fonts for the website */
$font-family-main: Helvetica, sans-serif;

@mixin font-h1 {
    font-family: $font-family-main;
    font-size: 40px;
    font-weight: bold;
}

@mixin font-h2 {
    font-family: $font-family-main;
    font-size: 40px;
    font-weight: bold;
}

@mixin font-h3 {
    font-family: $font-family-main;
    font-size: 30px;
    font-weight: bold;
}

@mixin font-main {
    font-family: $font-family-main;
    font-size: 20px;
    font-weight: normal;
}

@mixin font-small {
    font-family: $font-family-main;
    font-size: 15px;
    font-weight: normal;
}

@mixin font-small-bold {
    @include font-small;
    font-weight: bold;
}


/* Small fonts for mobile devices */
@mixin font-h1-small {
    font-family: $font-family-main;
    font-size: 30px;
    font-weight: bold;
}

@mixin font-h2-small {
    font-family: $font-family-main;
    font-size: 30px;
    font-weight: bold;
}

@mixin font-h3-small {
    font-family: $font-family-main;
    font-size: 30px;
    font-weight: bold;
}

@mixin font-main-small {
    font-family: $font-family-main;
    font-size: 14px;
    font-weight: normal;
}

@mixin font-small-small {
    font-family: $font-family-main;
    font-size: 10px;
    font-weight: normal;
}

@mixin font-small-bold-small {
    @include font-small-small;
    font-weight: bold;
}