/* Styles for the website */

//includes
@import "colors.scss";
@import "fonts.scss";
@import "reset.scss";
@import "sizes.scss";

a {
    color: inherit;
    transition: all 1s ease;

    &:hover {
        color: $color-text-light-hover;
        cursor: pointer;
    }
}

body {
    @include font-main;
    background: $color-background-body;
    color: $color-text;
    line-height: 2;
}

h1 {
    @include font-h1;
}

h2 {
    @include font-h2;
    padding: $spacing-medium;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
}

h3 {
    @include font-h3;
    padding: $spacing-small;
}

p {
    padding: $spacing-small;
}

/* Containers */
.container-content {
    background: $color-background-content;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: $container-app-width;
}

.container-footer {
    background: $color-background-footer;
    box-sizing: border-box;
}

.container-footer-inner {
    box-sizing: border-box;
    padding: $container-section-padding;
    margin-left: auto;
    margin-right: auto;
    width: $container-app-width;
}

.container-header {
    background: $color-background-header;
    box-sizing: border-box;
    padding: $container-header-padding;

    h1 {
        color: $color-text-header;
        text-align: center;
    }
}

.container-portfolio {
    box-sizing: border-box;
    padding: $spacing-medium;
}

.container-portfolio-text {
    box-sizing: border-box;
    display: inline-block;
    padding-top: $spacing-medium;
    vertical-align: top;
    width: $container-portfolio-text-width;
}

.container-section, .container-post {
    box-sizing: border-box;
    padding: $container-section-padding;
}

.container-post-body {
    padding: $spacing-small;
}

.paragraph-small {
    box-sizing: border-box;
    padding-bottom: 3px;
    padding-top: 3px;
}

/* Images */
.image-logo-portfolio {
    display: inline-block;
    height: $image-portfolio-height;
    margin-right: $image-portolio-margin;
    width: $image-portfolio-width;
}

.image-logo-link {
    display: inline-block;
    height: $image-portfolio-link-height;
    margin-right: $spacing-small;
    width: $image-portfolio-link-width;
}

/* Text */
.label-links {
    @include font-small-bold;
    color: $color-text-light;
}

.label-technologies {
    @include font-small-bold;
    color: $color-text-light;
}

.link {
    @include font-small;
    color: $color-text-light;
    display: inline;
}

.link-footer {
    cursor: pointer;
    text-decoration: underline;
    transition: all 1s ease;

    &:hover {
        color: $color-text-light-hover;
    }
}

.portfolio-header-link, .post-back, .post-header-link {
    text-decoration: none;
}

.post-back {
    @include font-small;
    color: $color-text-light;
    padding-left: $spacing-small;
}

.post-date {
    @include font-small;
    color: $color-text-light;
    padding-top: 0px;
}

.post-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.technologies {
    @include font-small;
    color: $color-text-light;
}

@media only screen and (max-width: 910px) {
    body {
        @include font-main-small;
        background: $color-background-body;
        color: $color-text;
    }
    
    h1 {
        @include font-h1-small;
    }
    
    h2 {
        @include font-h2-small;
        padding: $spacing-medium;
        padding-left: $spacing-small;
        padding-right: $spacing-small;
    }
    
    h3 {
        @include font-h3-small;
        padding: $spacing-small;
    }
    
    .container-content {
        width: $container-app-width-small;
    }

    .container-footer-inner {
        width: $container-app-width-small;
    }

    .container-portfolio-text {
        width: $container-portfolio-text-width-small;
    }

    .image-logo-portfolio {
        display: inline-block;
        height: $image-portfolio-height-small;
        margin-right: $image-portolio-margin;
        width: $image-portfolio-width-small;
    }
}

@media only screen and (max-width: 610px) {
    body {
        @include font-main-small;
        background: $color-background-body;
        color: $color-text;
    }
    
    h1 {
        @include font-h1-small;
    }
    
    h2 {
        @include font-h2-small;
        padding: $spacing-medium;
        padding-left: $spacing-small;
        padding-right: $spacing-small;
    }
    
    h3 {
        @include font-h3-small;
        padding: $spacing-small;
    }
    
    .container-content {
        width: auto;
    }

    .container-footer-inner {
        width: auto;
    }

    .container-portfolio-text {
        display: block;
        width: auto;
    }

    .image-logo-portfolio {
        display: block;
        height: $image-portfolio-height-small;
        margin-right: 0px;
        width: $image-portfolio-width-small;
    }
}